---
layout: default
title: "home"
---

<div id="splash">
  <div class="container">
    <h1>objectos doj&ocirc;</h1>
    <h2>cultura de aprendizado contínuo</h2>
  </div>
</div>

<div class="container page">

  <div class="row">
    <div class="span10">
    
      <h2>objectos dojô</h2>
      <p>
        Tutoriais, artigos técnicos, procedimentos, etc com o objetivo de:
      </p>
      <ol>
        <li>Treinamento constante da equipe de desenvolvimento</li>
        <li>Compartilhar conhecimento com a comunidade</li>
      </ol>
      
      <h3>
        <a href="#">Novos estagiários, funcionários</a>
        <span class="label notice">todo</span>
      </h3>
      <p>
        Seja bem vindo à objectos. Aqui você encontrará:
        <ul>
          <li>pacote de boas vindas</li>
          <li>pacote de benefícios</li>
          <li>um pouco da história, missão e valores objectos</li>
          <li>obrigações e o que é esperado de você</li>
        </ul>
      </p>
      
      <h3>
        <a href="caixa">Caixa de ferramentas</a>
        <span class="label success">em progresso</span>
      </h3>
      <p>       
        Tutorias, artigos, katas, exercícios, entre outros. 
        Conceitos essencias que todo membro da equipe de desenvolvimento deve saber compartilhados com a comunidade.
      </p>
      <p>Java, Eclipse, GIT, Maven, Bash, Jenkis, SQL, entre outros.</p>
      
      <h3>
        <a href="procedimento">Procedimentos</a>
        <span class="label notice">todo</span>
      </h3>
      <p>
        Até que certos conceitos fundamentais fiquem sedimentados, 
        procedimentos trazem produtividade. Aprenda aqui!
      </p>
    </div>

    <div class="offset1 span5">
      <h2>Contribua!</h2>
      <p>
        objectos dojo é um projeto de código aberto! Você encontra todos os textos, artigos e 
        códigos-fontes no <a href="http://github.com/objectos/objectos-dojo">GitHub</a>. 
      </p>
      
      <h2>Quem?</h2>
      
      <p>os responsáveis por este site:</p>
      
      {% include gravatar-mendo.html %}
      
      {% include gravatar-hescarate.html %}
      
      {% include gravatar-mpiazzolla.html %}
      
      {% include gravatar-afilgueiras.html %}
      
    </div>
  </div>


</div>