<div class="gravatar">
  <div class="thumbnail">
    <img src="http://www.gravatar.com/avatar/aebd9cb32a5dc5a312713b9c08d4dab8.png?s=80" />
  </div>
  <h5>Marcio Endo</h5>
  <p>Marcio Endo (Moe) começou com os computadores logo aos 8 anos de idade. A primeira linguagem de programação que
    aprendeu foi Logo. Depois BASIC. Passou por C, Pascal e Assembly na faculdade. Em 1998 conheceu Java ™ e não parou
    mais. Depois de formado em Engenharia de Computação pelo ITA (ironicamente seu TG/TCC foi escrito em PHP), foi
    trabalhar com petróleo (?) no Egito, Sudão e Omã. Viajou um bocado, aprendeu muito, voltou ao Brasil e resolveu
    montar uma software house. Nas suas horas vagas programa. Lê bastante também. (Tenta) cozinhar também. E ainda vai
    montar um power trio de Blues a la Stevie Ray Vaughan e Double Trouble.</p>
</div>