<div id="ft">
  <div class="container">
    <div class="row">
      <div class="span4"></div>
      <div class="span4"></div>
      <div class="span4"></div>
      <div class="span4"></div>
    </div>
    <div class="copyright">

      <p>&copy; 2011 objectos, Fábrica de Software LTDA</p>
      <p class="fineprint">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"> 
          <img alt="Licença Creative Commons" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" />
        </a> 
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons - Atribuição - Uso Não Comercial - Obras Derivadas Proibidas 3.0 Não Adaptada</a>
      </p>
    </div>
  </div>
</div>