---
layout: default
title: "home"
---

<div id="splash">
  <div class="container">
    <h1>objectos doj&ocirc;</h1>
    <h2>cultura de aprendizado contínuo</h2>
  </div>
</div>

<div class="container page">

  <div class="row">
    <div class="span10">
    
      <h2>Caixa de ferramentas</h2>
      
      <h3>Aprendizes <small>katas faixa branca</small></h3>
      <p>Treinamento b&aacute;sico de todos os aprendizes objectos.</p>
      <ul>
      {% for post in site.tags.aprendizes %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>

      <h3>Git</h3>
      <ul>
      {% for post in site.tags.git %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
      
    </div>

  </div>

</div>