---
layout: default
---
<div class="container page">
  <div class="row">
    <div class="span10">
      
      <div class="post-meta">
        <h1>{{ page.title }}</h1>
        <h2>{{ page.author }} <small>em {{ page.date | date: "%d/%m/%Y"}}</small></h2>
      </div>
  
      <div class="post">
      {{ content }}
      </div>
      
    </div>
    
    <div class="offset1 span5">
      <h4>Indíce</h4>
    
      <h4>Sobre o autor(a):</h4>
    
      {% if page.user == 'afilgueiras' %}
        
        {% include gravatar-afilgueiras.html %}
        
      {% elsif page.user == 'hescarate' %}
      
        {% include gravatar-hescarate.html %}

      {% elsif page.user == 'mendo' %}
      
        {% include gravatar-mendo.html %}

      {% elsif page.user == 'mpiazzolla' %}
      
        {% include gravatar-mpiazzolla.html %}
      
      {% endif %}      
    
    </div>
  </div>
</div>